<header class="container">
    <div class="hero home__hero grid" style="background-image: url(./images/homepage/image-hero.webp);">
        <div class="hero__txt">
            <h1 class="ff-serif">
                Hi, I’m Phil and I love building beautiful web apps
            </h1>
            <a href="#about">
                <button class="btn btn__normal--primary fs-200 uppercase flex" href="#about">
                    <img src="./images/icons/down-arrows.svg" class="btn__icon" alt=""/>
                    <h2 class="ff-sans-serif fs-300">About Me</h2>
                </button>
            </a>
        </div>
    </div>
</header>
<main>
    <section class="grid__about container grid">
        <div
            class="col col__img headshot__img" style="background-image: url(./images/homepage/image-profile.webp)"><!-- <img src="./images/image-homepage-profile.jpg" alt="" class="col__img--headshot" /> -->
        </div>
        <div class="col">
            <hr/>
            <h1 id="about" class=" col__txt ff-serif fs-600">About Me</h1>
            <p class="col__txt">
                I`ve been a self-taught front-end web developer since 2020. With my previous experience in design, brand development and
                marketing in the cleantech industry. I`m looking for a new challenge in a forward-thinking company where I can apply and
                develop my skills.
            </p>
            <a href="/portfolio.html">
                <button class="btn btn__normal--secondary">Go to Portfolio</button>
            </a>
            <h2 class="col__txt ff-serif fs-600">What I'm working with</h2>
            <div class="col__text about__tools">
                <ul class="about__tools--list flex">
                    <li><img class="about__tools--icon" src="./images/icons/logo-html.svg" alt="HTML5"></li>
                    <li><img class="about__tools--icon" src="./images/icons/logo-css3.svg" alt="CSS3"></li>
                    <li><img class="about__tools--icon" src="./images/icons/logo-javascript.svg" alt="Javascript"></li>
                </ul>
                <ul class="about__tools--list flex">
                    <li><img class="about__tools--icon" src="./images/icons/logo-npm.svg" alt="NPM"></li>
                    <li><img class="about__tools--icon" src="./images/icons/logo-linux.svg" alt="Linux"></li>
                    <li><img class="about__tools--icon" src="./images/icons/logo-sass.svg" alt="SASS"></li>
                </ul>
                <ul class="about__tools--list flex">
                    <li><img class="about__tools--icon" src="./images/icons/logo-adobe.svg" alt="Adobe Suite"></li>
                    <li><img class="about__tools--icon" src="./images/icons/logo-figma.svg" alt="Figma"></li>
                    <li><img class="about__tools--icon" src="./images/icons/logo-inkscape.svg" alt="Inkscape"></li>
                </ul>
            </div>
            <hr/>
        </div>
    </section>
    <section class="cta flex container">
        <h1 class="ff-serif fs-700">Interested in doing a project together?</h1>
        <hr/>
        <a href="/contact.html">
            <button class="btn btn__normal--secondary">Contact Me</button>
        </a>
    </section>
</main>