---
title: "philjgray.ca | Phil's Portfolio"
layout: "base.njk"
---

<section class="grid container">
    
    <!-- Baybayin App -->
    <div class="grid__img portfolio__content--baybayin-app grid__area-txt--1">
      <h1 class="col__txt ff-serif fs-600">Baybayin App</h1>
     <p class="col__txt">
      Created with HTML, CSS, and vanilla Javascript. New letters appear in a popup and are saved in localStorage to prevent progress loss. It helps users learn baybayin, an ancient writing system in the Philippines.
              </p>
      <div class="portfolio__link flex">
        <a href="./portfolio-baybayin-app.html">
          <button class="btn btn__normal--secondary" >View Full Project</button>
        </a>
        <a class="bg-icon-dark text-dark" href="https://github.com/PhilJG/baybayin">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </div>
    </div>
    <div class=" grid__img  grid__area-img--1">
      <iframe src="https://philjg.github.io/baybayin/" class="portfolio__page--frame"title="Baybayin app page"></iframe>

    </div>
  </div>
    

    <!--Sunnyside-->
       <div class="grid__img grid__area-txt--2 portfolio__content--sunnyside">
         <h1 class="col__txt ff-serif fs-600">Sunnyside</h1>
          <p class="col__txt">
          This project required me to build a fully responsive landing page to the designs provided. I used HTML5, along with CSS Grid and JavaScript for the areas that required interactivity, such as the features section. 
          </p>
          <div class="portfolio__link flex">
            <a href="./portfolio-sunnyside.html">
              <button class="btn btn__normal--secondary" >View Full Project</button>
                          </a>
              <a class="bg-icon-dafrk text-dark" href="https://github.com/PhilJG/frontendmentor-sunnyside">
                <ion-icon name="logo-github"></ion-icon>
              </a>
            </div>
        </div>
        <div class=" grid__img grid__area-img--2">
          <iframe src="https://philjg.github.io/frontendmentor-sunnyside/" class="portfolio__page--frame"title="Advice Generator page"></iframe>

        </div>
      </div>

      <!--Advice-generator-->
      <div class="grid__img grid__area-img--3">
        <iframe src="https://philjg.github.io/advice-generator-app/" class="portfolio__page--frame"title="Advice Generator page"></iframe>

      </div>
      <div class="grid__area-txt--3 portfolio__content--advice-generator">
        
          <h1 class="col__txt ff-serif fs-600">Random advice generator</h1>
          <p class="col__txt">
          I built his project to demonstate my ability to fetch an API. I used Advice Lip API for this purpose and the result is an app the generates a new piece of advice everytime the dice is rolled. 
          </p>
          <div class="portfolio__link flex">
            <a href="./portfolio-advice-generator.html">
              <button class="btn btn__normal--secondary" >
                View Full Project
              </button>
             </a>
              <a class="bg-icon-dark text-dark" href=" https://github.com/PhilJG/advice-generator">
                <ion-icon name="logo-github"></ion-icon>
              </a>
          </div>
        </div>
      </div>

    <!-- FAQ accordian
        <div class="grid__img portfolio__img--faq-accordian   grid__area-img--5;
        ">
          
        </div>

      <div class="grid__area-txt--5 portfolio__content--faq-accordian">
        <h1 class="col__txt ff-serif fs-600">FAQ accordian</h1>
        <p class="col__txt">
          This was a small project which  consisted of HTML and CSS.  The JavaScript this project required was to enable the toggling of the dropdown answers. The additional challenged was making sure that the previous drop down went up when another was selected. I also used css transform to rotate the arrows on selection. 
        </p>
        <div class="portfolio__link flex">
          <a href="./portfolio-faq-accordian.html">
            <button  class="btn btn__normal--secondary" >View Full Project</button>
          </a>
          <a class="bg-icon-dark text-dark" href="https://github.com/PhilJG/faq-accordian-main">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </div>
      </div> -->

    <!-- Intro Component Signup -->
       <div class="grid__img grid__area-txt--4 portfolio__content--intro-with-component-signup grid__area-img--4">
          <h1 class="col__txt ff-serif fs-600">Intro Component Signup</h1>
         <p class="col__txt">
            This project required alot more activity with javascript which checked whether the inputs where correct. This required me to reseach regex. The additional challenge was for the highlights on the inputs to be remove on submission.
          </p>
          <div class="portfolio__link flex">
            <a href="./portfolio-intro-component-signup.html">
              <button class="btn btn__normal--secondary" >View Full Project</button>
            </a>
            <a class="bg-icon-dark text-dark" href="https://github.com/PhilJG/intro-component-with-signup-form-master">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </div>
        </div>
        <div class=" grid__img ">
          <iframe src="https://philjg.github.io/intro-component-with-signup-form-master/" class="portfolio__page--frame"title="Intro Component Signup"></iframe>
        </div>
      </div>
    </section>
        
    </section>
    <section class="cta flex container">
      <h1 class="ff-serif fs-700">Interested in doing a project together?</h1>
      
      <a href="/contact.html">
        <button class="btn btn__normal--secondary">Contact Me</button>
      </a>
    </section>